.page-header{
    .author-box{
        padding-bottom: @grid-gutter-width/2 + @padding-base-vertical;
        border-bottom: 1px solid @keitaro-green-gray-l-30;
    }
}

.author-box{
    overflow: auto;
    margin: @grid-gutter-width/2 0;

    .avatar{
        float: left;
        margin-right: @grid-gutter-width/2;
        margin-bottom: @grid-gutter-width/4;
    }
    
    /*.author-title{}*/

    /*.author-description{}*/
}