.blog,
.search,
.single,
.author,
.archive,
.error404 {
    .footer-bg {
        border-top: @container-bg-border;
        background-color: @keitaro-gray-lightest;

        hr {
            border-color: @keitaro-green-gray-l-30;
        }
    }

    .copyright {
        &,
        a {
            color: @keitaro-green-gray;
        }
    }

    .footer-secondary-navigation {
        a {
            color: @keitaro-green-gray;
        }
    }
}

.footer-links {
    color: @keitaro-gray-light;
    letter-spacing: @letter-spacing-base;
    font-size: @font-size-base / 1.2;
}

.main-footer {
    margin-top: @grid-gutter-width;
    margin-bottom: @grid-gutter-width;
    .keitaro-symbol {
        width: @grid-gutter-width - 10px;
        margin: @grid-gutter-width / 2 @grid-gutter-width @grid-gutter-width * 1.5;
    }

    a {
        color: @text-color;
    }

    .current-menu-item {
        a {
            color: @link-color;
        }
    }
}

.footer-secondary-navigation {
    a {
        .footer-links;
    }
}

.copyright {
    margin: (@grid-gutter-width / 6 + 3px);
    text-align: center;
    p {
        margin: 0;        
    }

    &,
    a {
        .footer-links;      
    }
}