.footer-links{
    color: @keitaro-gray-light;
    letter-spacing: 0.05em;
    font-size: @font-size-base/1.2;
}

.main-footer {
    margin-bottom: @grid-gutter-width*1.5;
    .keitaro-symbol {
        width: @grid-gutter-width - 10;
        margin: @grid-gutter-width*1.5 @grid-gutter-width @grid-gutter-width*1.5;
    }
}

.footer-secondary-navigation{
    a{
        .footer-links;
    }
}

.copyright {
    text-align: right;
    &,
    a{
        .footer-links;      
    }
}