.contact-form {
    label,
    select {
        color: @keitaro-green-gray-l-10;
        cursor: pointer;
        font-weight: 500;
        .text-uppercase;
    }
    textarea {
        max-width: 100%;
    }
    .alert {
        display: none;
        color: @brand-danger;
        padding: @grid-gutter-width / 6 0 0 0;
    }
    label {
        .unselectable;
        .animate-position;
        cursor: pointer;
        position: absolute;
        width: 100%;
        top: -@grid-gutter-width / 2;
        left: 0;
        display: block;
    }
    .form-group {
        position: relative;
        margin: @grid-gutter-width/2 0 @grid-gutter-width;
        &.form-select{
            margin-top: -@grid-gutter-width/2;
        }
    }
    .form-control {
        height: auto;
        background: @keitaro-gray-lightest;
        line-height: 1.5;
        border: transparent;
        margin: @grid-gutter-width*0.75 0 0;
        border-bottom: 2px solid @keitaro-green-gray;
        box-shadow: none;
        &:focus {
            &,
            &:valid {
                border-bottom-color: @keitaro-green-dark;
            }
            ~label {
                top: -@grid-gutter-width / 1.75;
                color: @brand-primary;
            }
        }
    }
}

.animate-position {
    transition: 100ms top ease-in-out;
}

.form-select {
    .glyphicon('\e252');
    position: relative;
    background: @keitaro-gray-lightest;
    &:hover {
        &:before {
            color: @keitaro-green-dark;
        }
    }
    &:active,
    &:focus{
        background: @keitaro-green-gray-l-35;
    }
    &:before {
        left: auto;
        right: @grid-gutter-width / 4;
        font-size: @font-size-small - 4;
        color: @keitaro-green-gray;
    }
    select {
        &::-ms-expand{
            display: none;
        }
        line-height: 3;
        background: transparent;
        border: none;
        appearance: none;
    }
}