.custom-logo {
    max-height: @grid-gutter-width - 10;
    width: auto;
    max-width: 100%;
    height: auto;
}

.page-header{
    border-bottom: transparent;
    margin-top: 0;
    margin-bottom: @grid-gutter-width/4;
}

.page-title,
.entry-title{
    .h2;
    letter-spacing: 0.07em;
    margin-top: 0;
}