.custom-logo {
    max-height: @grid-gutter-width - 10;
    width: auto;
    max-width: 100%;
    height: auto;
}

.page-header{
    border-bottom: transparent;
    margin-top: 0;
    margin-bottom: @grid-gutter-width/4;
}

.archive{

    .page-title{
        font-size: @font-size-h2;
    }

    .entry-title{
        font-size: @font-size-h3;
    }
    
}

.page-title,
.entry-title{
    margin-top: 0;
    .text-uppercase;
    letter-spacing: @letter-spacing-small;
}