.hero-padding {
    padding-top: @grid-gutter-width*3;
    padding-bottom: @grid-gutter-width*3;
}

.hero,
.hero-sm {
    background: @keitaro-gray-lightest;
}

.hero-sm {
    border-bottom: @hero-block-border;
}

.hero {
	// .text-center;
    .hero-background;
    .content-block {
		.hero-padding;
	}
}

.hero-wrapper{
	margin: auto 12.33333333%;
}

.hero-background {
	background-color: @hero-bg;
	background-position: center 150%;
	background-size: 60% auto;
	background-repeat: no-repeat;
	min-height: calc(100vh * 0.6);
}

.hero-title {
	font-weight: 600;
    letter-spacing: @letter-spacing-base;
	color: @keitaro-white;
	// background-color: fade(@hero-bg, 90%);
	text-transform: capitalize;
	flex-basis: 100%;
	padding: @grid-gutter-width/2 0;
	margin: 0;
}

.hero-subtitle {
    font-weight: 200;
    // letter-spacing: @letter-spacing-large;
	font-size: .7em;
	text-transform: initial;
}

.hero-non-default {
    .hero-title {
        color: @body-bg;
    }
}
