.hero-padding {
    padding-top: @grid-gutter-width*3;
    padding-bottom: @grid-gutter-width*3;
}

.hero,
.hero-sm {
    background: @keitaro-gray-lightest;
}

.hero-sm {
    border-bottom: @hero-block-border;
}

.hero {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    .text-center;
    .hero-background;
    .content-block {
        .hero-padding;
    }
}

.hero-background {
    background-color: @hero-bg;
    background-position: 90% top, 90% bottom;
    background-repeat: no-repeat, repeat-y;
    background-size: 35%;
}

.hero-title {
    font-weight: 600;
    letter-spacing: @letter-spacing-base;
    font-size: 3em;
    color: @keitaro-green-dark;
    text-align: left;
}

.hero-subtitle {
    display: block;
    font-weight: 200;
    letter-spacing: @letter-spacing-large;
    font-size: .6em;
}

.hero-non-default {
    .hero-title {
        color: @body-bg;
    }
}