.hero-padding {
    padding-top: @grid-gutter-width*3;
    padding-bottom: @grid-gutter-width*3;
}

.hero,
.hero-sm {
    background: @keitaro-gray-lightest;
}

.hero-sm {
    border-bottom: @hero-block-border;
}

.hero {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    @media (max-width: @screen-xs-max) {
        min-height: 45vh;
    }
    .text-center;
    .hero-background;
    .content-block {
        .hero-padding;
    }
}

.hero-background{
    background-color: @hero-bg;
    background-image: url("../img/keitaro-hero-bg.png"), url("../img/keitaro-hero-bg-extend.png");
    background-position: 90% top, 90% bottom;
    background-repeat: no-repeat, repeat-y;
    background-size: 40%;
}

.hero-title {
    font-weight: 600;
    letter-spacing: @letter-spacing-base;
    font-size: 3em;
    color: @keitaro-green-dark;
    margin: @grid-gutter-width*3 auto;
    text-align: left;
    @media (max-width: @screen-xs-max) {
        font-size: @font-size-h1;
    }
    @media (min-width: @screen-sm-min) {
        font-size: @font-size-h3*1.5;
    }
    @media (min-width: @screen-lg-min) {}
}

.hero-subtitle {
    display: block;
    font-weight: 200;
    letter-spacing: @letter-spacing-large;
    font-size: 0.6em;
}

.services-section {
    position: relative;
    bottom: -160px;
}