.wp-post-image,
.post-thumbnail {
    max-width: 100%;
    height: auto;
}

.format-image,
.post-thumbnail {
    figcaption {
        color: @keitaro-green-gray-l-10;
        padding: @padding-base-vertical @padding-base-horizontal 0;
    }
}

.format-image {
    .entry-content {
        img {
            margin: 0;
        }
    }
}

.entry-content {

    .wp-caption-text {
        margin: 0;
    }

    .wp-caption {
        margin-left: 0;
        margin-right: 0;
    }

    figure {
        max-width: 100%;
        margin: @grid-gutter-width / 2;

        figcaption {
            margin: 0 @grid-gutter-width / 2;
        }

        img {
            margin: 0 @grid-gutter-width / 2 @grid-gutter-width / 4;
            height: auto;
        }
    }

    img {
        margin: @grid-gutter-width / 2;
        max-width: 100%;
        height: auto;
    }
}

.thumbnail {
    border: transparent;
    background: transparent;
    padding: @grid-gutter-width / 6 0;
}

.thumbnail-sm {
    img {
        max-height: @grid-gutter-width * 2;
    }
}

.avatar {
    border-radius: 50%;
}

.avatar-wrapper {
    @media (min-width: @screen-md-min){
        text-align: right;
    }
}