.wp-post-image,
.post-thumbnail{
    max-width: 100%;
    height: auto;
}

.entry-content{
    
    .wp-caption{
        margin-left: 0;
        margin-right: 0;
    }

    figure{
        max-width: 100%;
        margin: @grid-gutter-width/2;

        figcaption{
            margin: 0 @grid-gutter-width/2;
        }

        img{
            margin: 0 @grid-gutter-width/2 @grid-gutter-width/4;
            height: auto;
        }
    }

    img{
        margin: @grid-gutter-width/2;
        max-width: 100%;
        height: auto;
    }
}

.thumbnail {
    border: transparent;
    background: transparent;
    padding: @grid-gutter-width/6 0;
}

.thumbnail-sm {
    img {
        max-height: @grid-gutter-width*2;
    }
}

.avatar{
    border-radius: 50%;
}