.post-thumbnail{
    max-width: 100%;
}

.thumbnail {
    border: transparent;
    background: transparent;
    padding: @grid-gutter-width/6 0;
}

.thumbnail-sm {
    img {
        max-height: @grid-gutter-width*2;
    }
}