.locations{
    margin: @grid-gutter-width 0 0;
}

.location{
    margin: @grid-gutter-width/2 0;
    font-size: @font-size-small;

    &:not(:last-child){
        border-bottom: @comment-border;
        padding-bottom: @grid-gutter-width/2;
    }

    @media (min-width: @screen-md-min){
        text-align: right;        
    }
}

.location-address{
    margin-bottom: @padding-small-vertical;
}

.location-title-prefix{
    .text-uppercase;
    font-weight: 300;
}

.location-details{
    overflow: auto;
}