.main-navbar {
    overflow: auto;
    padding-top: @grid-gutter-width / 2;
    padding-bottom: @grid-gutter-width / 2;

    @media(min-width: @screen-sm-min) {
        display: flex;
        align-items: center;

        .site-branding {
            flex-basis: @grid-gutter-width * 5;
        }

        .navigation {
            flex-grow: 5;
        }
    }
    .navbar-collapse {
        clear: both;
        @media(max-width: @screen-sm-max) {
            li {
                margin: @grid-gutter-width / 6 0;
                text-align: right;
                display: block;
            }
        }
    }
    .navbar-toggle {
        margin-top: @main-navigation-top-margin;
        margin-bottom: 0;
        margin-right: 0;

        &:hover,
            &:active {
            color: @brand-primary;
        }
    }
}

.navbar-collapse {
    padding: 0;
}

.main-navigation {
    margin-bottom: 0;
    letter-spacing: @letter-spacing-large;
    @media(min-width: @screen-sm-min) {
        .text-right;
    }
    .list-inline {
        margin-top: @main-navigation-top-margin;
        margin-bottom: 0;
    }
    li {

        > a {
            display: block;
            padding: @grid-gutter-width / 6 @grid-gutter-width / 6;
        }

        &:last-child {
            padding-right: 0;
        }

    }
    > li {

        &:last-child {
            &.current-menu-item {
                > a {
                    .btn-primary;
                    color: @body-bg;
                }
            }

            > .sub-menu {
                left: 0;
            }
        }

        > .sub-menu {
            @media (min-width: @screen-md-min) {
                position: absolute;
                top: 100%;
                left: -@padding-base-horizontal;
                z-index: 99;
                border: @container-bg-border;
                background-color: @body-bg;
                padding: @padding-base-vertical @padding-large-horizontal;
            }
        }

        &:last-child {
            > a {
                @media (min-width: @screen-md-min) {
                    margin-left: @grid-gutter-width / 4;
                }
                .btn;
                .btn-success;

            }
        }
    }
    a {
        color: @text-color;
    }

}

.footer-navigation {
    margin: 0;

    @media (max-width: @screen-sm-max) {
        text-align: center;
    }

    .menu-item {
        margin-top: @grid-gutter-width / 6;
        margin-bottom: @grid-gutter-width / 6;
    }

    &.social-navigation {
        li {
            margin-left: @grid-gutter-width / 6;
            margin-right: @grid-gutter-width / 6;

            @media (min-width: @screen-md-min){
                margin-right: 0;
            }
        }
    }
}

.menu-item {
    position: relative;

    &:hover {
        @media (min-width: @screen-md-min) {
            .sub-menu {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.current-menu-item {
    > a {
        color: @keitaro-green-dark;
    }
}

.sub-menu {
    list-style: outside none;

    @media (min-width: @screen-md-min) {
        opacity: 0;
        visibility: hidden;
        transition: 150ms opacity ease-in-out 20ms;
        min-width: 100%;
        text-align: left;
        padding: 0 0 0 @padding-small-vertical;
        margin: 0;
    }

    .sub-menu {
        position: relative;
    }

    li {        
        &,
        &:not(:last-child) {
            padding: 0;
        }

        > a {
            display: block;
            @media (min-width: @screen-md-min) {
                padding: @padding-base-vertical 0;
            }
        }
    }
}

.navbar-title {
    color: @keitaro-green-light;
    font-weight: 400;
    margin: 0;
}

.container-subpages-bg {
    background-color: @keitaro-white;
    border-bottom: 1px solid @keitaro-gray-light;
}

.container-bg {
    background-color: @keitaro-gray-lightest;
}

.container-bottom-border {
    border-bottom: @container-bg-border;
}

.main-panel-title {
    letter-spacing: @letter-spacing-small;
    color: @keitaro-green-dark;
}

.breadcrumb {
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    li {
        + li {
            &:before {
                padding: 0 @grid-gutter-width / 6 0 @grid-gutter-width / 4;
            }
        }
        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.page-links {
    margin-top: @padding-large-horizontal;
    margin-bottom: @padding-large-horizontal;

    .page-number {
        margin: @padding-small-vertical @padding-small-horizontal @padding-small-vertical 0;
    }

    > .page-number {
        .btn;
        .btn-sm;
        .btn-success;
    }

    a {
        .page-number {
            .btn;
            .btn-sm;
            .btn-default;
        }
    }
}

.page-numbers {
    .pagination;
    margin: @grid-gutter-width / 2 0;

    .current {
        .btn;
        .btn-success;
        padding: @padding-base-vertical @padding-base-horizontal;
    }
}