.read-next{
    .avatar{
        margin-right: @padding-small-horizontal;
    }
    .media-body{
        vertical-align: middle;
    }
}

.read-next-title{
    .text-uppercase;
    margin: @grid-gutter-width 0 @grid-gutter-width/2;
}