@media (min-width: @screen-lg-min) {
    .hero {
        display: table; // Because IE
        width: 100%; // Because IE
        background-size: auto 90%;
        background-position: right bottom;
    }
    .hero-title {
        padding-right: 30vw;
    }
    .hero-subtitle {
        display: block;
    }
    .connect-action-icon {
        text-align: right;
        img {
            max-width: 70%;
        }
    }
    .service-wrapper {
        flex-grow: 2;
        flex-shrink: 0;
        flex-basis: calc(100%/3); //max-width: 31.5%; // Because IE.
    }
	.page-template-contact,
	.page-template-job-application {
        &:not(.page-child) {
            .post-thumbnail {
                text-align: right;
            }
		}
    }
    .page-parent {
        .icon-block-wrapper {
            overflow: visible;
        }
        .panel-value-with-description {
            cursor: help;
            &:hover {
                border-bottom: 5px dashed @keitaro-green-light;
                ~.panel-value-description {
                    visibility: visible;
                    opacity: 1;
                    animation: 300ms icon-block-appear ease-in-out 50ms;
                }
            }
        }
    }
}

@media (max-width: @screen-lg-min) {}
