@media (min-width: @screen-lg-min) {
    .hero-title{
        margin: @grid-gutter-width*3 auto @grid-gutter-width*3 - @grid-gutter-width / 2;        
    }
    .connect-action-icon {
        text-align: right;
        img {
            max-width: 70%;
        }
    }
    .service-item {
        flex-basis: 31.5%;
        max-width: 31.5%; // Because IE.
    }
    .page-parent{
        .icon-block-wrapper{
            overflow: visible;
        }
        .panel-value-with-description{
            cursor: help;
            &:hover{
                border-bottom: 5px dashed @keitaro-green-light;
                ~ .panel-value-description{
                    visibility: visible;
                    opacity: 1;
                    animation: 300ms icon-block-appear ease-in-out 50ms;
                }
            }
        }
    }
}

@media (max-width: @screen-lg-min) {

}