@media (min-width: @screen-sm-min) {
	.hero{
		background-size: auto 60%;
		background-position-x: center;
		background-position-y: 120%;
	}
    .lead {
        font-size: (@font-size-base * 1.5);
    }
    .content-area{
        padding-top: @content-area-padding;
	}
    .hero-title{
		font-size: @font-size-h1*1.2;
    }
    .main-navbar {
        .flex;
        .flex-align-items-center;

        .site-branding {
            flex-basis: @grid-gutter-width * 5;
        }

        .navigation {
            flex-grow: 5;
        }
    }
    .main-navigation {
        .text-right;
    }
}

@media (max-width: @screen-sm-max) {
    .service-wrapper {
        flex-basis: 100%;
		max-width: 100%; // Because IE.
    }
    .contact-form{
        margin: @grid-gutter-width*2 0 @grid-gutter-width;
    }
    .author-box{
        margin-top: @grid-gutter-width;
    }
    .entry-content {
        margin-bottom: @grid-gutter-width;
    }
    .page-template-parent {
        .hentry {
            .col-md-4 {
                clear: both;
            }
        }
    }
    .navbar-collapse {
        li {
            margin: @grid-gutter-width / 6 0;
            text-align: right;
            display: block;
        }
    }
    .entry-title {
        margin-top: @grid-gutter-width / 2;
    }
    .footer-navigation {
        text-align: center;
    }
    .sticky-title-sm {
        margin-top: @grid-gutter-width / 2;
    }
    .footer-secondary-navigation{
        .menu-item{
            margin-bottom: @grid-gutter-width/2;
        }
    }
}
