@media (min-width: @screen-lg-min) {
    .hero {
        .flex;
		.flex-align-items-center;
		background-position: right bottom;
        background-size: 38% auto;
    }
    .hero-subtitle {
        display: block;
    }
    .connect-action-icon {
        text-align: right;
        img {
            max-width: 70%;
        }
    }
    .service-wrapper {
        flex-grow: 2;
        flex-shrink: 0;
        flex-basis: calc(100%/3); //max-width: 31.5%; // Because IE.
    }
    .page-parent {
        .icon-block-wrapper {
            overflow: visible;
        }
        .panel-value-with-description {
            cursor: help;
            &:hover {
                border-bottom: 5px dashed @keitaro-green-light;
                ~.panel-value-description {
                    visibility: visible;
                    opacity: 1;
                    animation: 300ms icon-block-appear ease-in-out 50ms;
                }
            }
        }
    }
}

@media (max-width: @screen-lg-min) {
    .hero-title {
        padding-top: @grid-gutter-width;
    }
}
