.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 calc(100%/3);
    margin-top: @grid-gutter-width/3;
}

.service-icon {
    display: flex;
    flex-shrink: 0;
    align-self: flex-end;
    border-radius: 50%;
    overflow: hidden;
    width: 96px;
    height: 96px;
	background: @keitaro-white;
	margin-bottom: @grid-gutter-width/6;
	padding: @grid-gutter-width/3;
    .wp-post-image {
        object-fit: scale-down;
    }
}

.service-item {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    transition: .3s background-color;
    background-color: @keitaro-green-gray-l-35;
    margin-right: @grid-gutter-width/6;
    margin-left: @grid-gutter-width/6;
    // border: @service-item-border;
    padding: @grid-gutter-width/3 @grid-gutter-width/2;
    &:hover {
        border-color: @keitaro-green-light;
        text-decoration: none;
        background-color: @keitaro-green-light;
		color: @keitaro-white;
        .service-title,
        .btn-discover,
        .service-description {
            color: inherit;
        }
    }
    &:focus {
        text-decoration: none;
    }
    .btn-discover {
        margin-left: @grid-gutter-width / 2;
        align-self: flex-end;
    }
}

.service-title {
	line-height: @headings-line-height;
	font-size: @font-size-h3 - 3;
	font-weight: 500;
    margin-top: 0;
    margin-bottom: @grid-gutter-width/6;
    display: block;
    color: @brand-primary;
    letter-spacing: @letter-spacing-small;
}

.service-description {
    display: block;
    color: @text-color;
    @supports (hyphens: auto) {
        text-align: justify;
        hyphens: auto; // Currently not fully-supported in Google Chrome
    }
    font-size: @font-size-base;
    flex-shrink: 2;
    margin-right: @grid-gutter-width/3;
}

.service-list-item {
    font-size: @font-size-h5 + 2px;
    margin: 0;
    a {
        display: block;
        padding: @grid-gutter-width / 3 0;
        border-bottom: 1px solid @table-border-color;
    }
}
