.sticky{
    
    &.hentry{
        margin-bottom: @grid-gutter-width*2;
    }
    
    .entry-content{
        margin-bottom: 0;
    }
}

.sticky-title-sm{
    .text-uppercase;
    .h5;
    margin-top: 0;
}