// bootstrap-variables.less
@bootstrap-path: '../../node_modules/bootstrap/less/';

// hero.less
@hero-bg: @keitaro-green-dark;
@hero-block-border: 3px solid @keitaro-green-gray-l-30;

// navigation.less
@container-bg-border: 1px solid @keitaro-gray-light;
@main-navigation-top-margin: 5px;

// services.less
@service-icon-size: 96px;
@service-item-min-height: 200px;
@service-item-border: 3px solid @keitaro-green-gray-l-20;

// content.less
@letter-spacing-large: .1em;
@letter-spacing-base: .03em;
@letter-spacing-small: .05em;
@content-area-padding: @grid-gutter-width * 2;

// comments.less
@comment-border: 1px solid @keitaro-green-gray-l-30;

// sticky.less
@sticky-border: 2px solid @table-border-color;

// buttons.less
@input-group-btn-padding: 6px;

// gallery.less
@grid-column-size: minmax(@grid-gutter-width, 1fr);

// panel.less
@panel-title-icon-size: 56px;
