.author-box {
	margin: $spacer $spacer*2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;

	.author-avatar {
		flex-shrink: 0;
	}

	.author-title {
		margin-bottom: $spacer/2;
	}

	.avatar-url {
		margin-right: $spacer*2;
		margin-top: $spacer / 2;
		margin-bottom: $spacer / 4;
	}

}

.author-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.author-photo {
	margin-top: $grid-gutter-width / 3;
}
