.author-box {
	// margin: $spacer $spacer*2;
	text-align: left;

	.author-avatar {
		flex-shrink: 0;
	}

	.author-title {
		margin-bottom: $spacer/2;
	}

	.avatar-url {
		margin: $spacer $spacer*2;
	}

}

.page-header{
	.author-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}

.author-photo {
	margin-top: $grid-gutter-width / 3;
}
