.author-box {
	overflow: auto;
	margin-top: $spacer;
	margin-bottom: $spacer;

	.author-avatar {
		float: left;
		@include shape-outside(circle());
	}

	.avatar-url {
		margin-right: $spacer*1.5;
		margin-top: $spacer / 2;
		margin-bottom: $spacer / 4;
	}

	.author-description {
		margin-bottom: $grid-gutter-width / 4;
	}
}

.author-photo {
	margin-top: $grid-gutter-width / 3;
}
