.custom-right {
  text-align: center;
  position: relative;
  flex-wrap: wrap;
}

.custom-rights-image {
  flex-basis: 100%;
}

.custom-rights-text {
  flex-basis: 100%;
  background-color: $keitaro-white;
  position: relative;
}

.custom-left img {
  margin: 0;
  max-width: 100%;
}

.custom-rights-text::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom: 10px solid $keitaro-green-dark;
  border-right: 10px solid $keitaro-green-dark;
  height: 5rem;
  width: 5rem;
}

///

.main-box {
  margin-top: 8rem !important;
}

.left-box-image {
  bottom: 0;
}

.left-box-filler {
  visibility: hidden;
}

.right-box {
  height: auto;
  text-align: center;
}

.right-box-image {
  width: 100px;
  margin: 30px;
}

.right-box-text {
  position: relative;
  background: $keitaro-white;
}

.right-box-text::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom: 10px solid $keitaro-green-dark;
  border-right: 10px solid $keitaro-green-dark;
  height: 5rem;
  width: 5rem;
}

.right-text {
  padding: 20px;
  font-size: 20px;
  color: $keitaro-gray-dark;
}

.block-right-list {
  display: flex;
  align-items: center;
  bottom: 0rem;
  color: $keitaro-white;
  font-size: 25px;
  background-color: $keitaro-green-dark !important;
}

.block-right-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  list-style: none;
}

.block-right-list ul li {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}


.block-right-list ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  padding-right: 1.2rem;
  vertical-align: middle;
  font-weight: 900;
}

.lists-right-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $keitaro-white;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.lists-right-absolute::after {
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: none;
  border-left: none;
  height: 0;
  width: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}