$keitaro-white: #fff;
$keitaro-green-dark: #1e9843;
$keitaro-green-gray: #98938b;
$keitaro-green-light: #8ac04b;

$keitaro-green-gray-d-30: darken($keitaro-green-gray, 30);
$keitaro-green-gray-d-20: darken($keitaro-green-gray, 20);
$keitaro-green-gray-d-10: darken($keitaro-green-gray, 10);

$keitaro-green-gray-l-10: lighten($keitaro-green-gray, 10);
$keitaro-green-gray-l-20: lighten($keitaro-green-gray, 20);
$keitaro-green-gray-l-30: lighten($keitaro-green-gray, 30);
$keitaro-green-gray-l-32: lighten($keitaro-green-gray, 32);
$keitaro-green-gray-l-35: lighten($keitaro-green-gray, 35);
$keitaro-green-gray-l-35: lighten($keitaro-green-gray, 38);
$keitaro-green-gray-l-40: lighten($keitaro-green-gray, 40);

$keitaro-gray-lightest: #f2f2f2;
$keitaro-gray-light: #ccc;
$keitaro-gray-dark: #333;
