.content-area {
	padding-bottom: $content-area-padding;

	// .post-thumbnail {
	// 	&:not(:first-child) {
	// 		margin-top: $grid-gutter-width / 2;
	// 	}

	// 	&:not(:last-child) {
	// 		margin-bottom: $grid-gutter-width / 2;
	// 	}
	// }
}

.address-list {
	font-size: $h5-font-size;
	margin-top: $grid-gutter-width * 2;
}

.post-list {
	text-align: right;
}

.list-with-icon {
	list-style: none;
	font-size: $font-size-lg;
	line-height: $headings-line-height;
	padding-left: 0;

	li {
		display: flex;
		align-items: center;
		padding: $spacer;

		&:before {
			@extend .fa;
			@extend .fas;
			margin-right: $spacer*1.5;
		}
	}
}

.lead-post-text {
	font-size: $font-size-lg;
	color: $keitaro-green-light;
	margin: 30px 0 20px 0;
}

.main-post-title {
	color: $keitaro-green-dark;
	letter-spacing: $letter-spacing-base;
}

.main-post-item {
	margin-top: 45px;
}

.post-icons {
	margin-left: 10px;
	min-width: 120px;
}

.post-wrapper {
	margin: 70px 0 40px 0;
}

.tweets {
	margin: 150px 0;
}

.main-tweets-title {
	letter-spacing: $letter-spacing-base;
}

.date-stamp {
	border-bottom: 2px solid $keitaro-gray-lightest;
	padding-bottom: 20px;
}

.lead-md {
	font-size: $font-size-lg;
}

.lead-block {
	display: block;
	font-size: $font-size-lg;
}

.border-transparent {
	border: transparent;
	background: transparent;
}

.dl-navigation {
	dt {
		@extend .text-uppercase;
		font-weight: inherit;
		margin-bottom: $grid-gutter-width / 3;
	}

	dd {
		margin: $grid-gutter-width / 24 0;
	}
}

.entry-content {
	word-break: break-word;
	margin-top: $grid-gutter-width / 2;
	margin-bottom: $spacer*2;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		font-weight: 600;
	}
}

.entry-group {
	.hentry {
		margin: $grid-gutter-width / 3 0;
	}
}

.entry-title {
	word-break: break-word;
	overflow-wrap: break-word;
}

.entry-meta {
	time {
		display: block;
		color: $text-muted;
	}
}

.about-child-pages {
	p {
		color: $keitaro-gray-dark;
		font-size: 22px;
	}
}

.img-round {
	border-radius: 50%;
	border: 1px solid $keitaro-green-gray-l-30;
}

hr {
	border-width: 2px;
}

.hr-green {
	border-color: $keitaro-green-light;
}

.keitaro-dark-green {
	color: $keitaro-green-dark;
}

.discover {
	text-align: right;
}

.list-wide {
	letter-spacing: $letter-spacing-large;

	li {
		margin-left: $grid-gutter-width / 4;
		margin-right: $grid-gutter-width / 4;
	}
}

.featured-post {
	&:not(.sticky) {
		&.hentry {
			&:first-child {
				margin-bottom: $content-area-padding;
			}
		}

		&:not(:last-child) {
			margin-bottom: $content-area-padding;
		}
	}
}

.post-meta-list {
	@extend .list-inline;
	margin-top: $padding-large-vertical * 2;

	li {
		margin-bottom: $padding-large-vertical;
	}
}

.widget_categories ul,
.post-categories {
	@extend .text-warm;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;

	a {
		@extend .text-warm;

		&:before {
			content: '#';
		}

		margin-right: $spacer;
	}
}

.widget_categories {
	ul {
		flex-direction: column;
	}

	li {
		@extend .my-1;

		a {
			margin-right: initial;
		}
	}
}

.sidebar-default {
	@extend .mb-5;
}

.post-tags {
	@extend .post-meta-list;

	a {
		@extend .btn;
		@extend .btn-sm;
	}
}

iframe,
embed,
object {
	max-width: 100%;
}

hr {
	border-width: 1px;
}

.no-results {
	margin-bottom: $grid-gutter-width;

	.page-header {
		padding-bottom: 0;
	}
}

.widget-contact {
	.entry-title {
		color: $primary;
	}
}

.highlight {
	color: $success;
}

pre {
	font-size: $font-size-sm;
}

.sharedaddy {
	margin: $grid-gutter-width 0 $grid-gutter-width / 2;
}

.widgettitle {
	font-size: $h4-font-size;
	font-weight: $headings-font-weight;
	margin-bottom: $grid-gutter-width / 4;
}

.widget_nav_menu {

	.widgettitle {
		position: relative;
		padding-left: $spacer*1.5;

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			display: inline-block;
			content: "";
			background-color: $primary;
			width: $spacer;
			height: $spacer/8;
		}
	}

	.menu {
		@extend .list-unstyled;
	}

	.menu-item {
		a {
			@extend .btn;
			@extend .btn-link;
		}
	}
}

.widget_widget_keitaro_page_text {
	&.widget-wrapper {
		.widgettitle {
			margin-top: ($grid-gutter-width / 3);
		}
	}

	.widgettitle {
		@extend .text-uppercase;
		font-weight: 600;
		font-size: $font-size-sm;
		padding-bottom: ($grid-gutter-width / 3);
		color: darken($keitaro-green-light, 2%);
		border-bottom: 1px solid $table-border-color;
		letter-spacing: $letter-spacing-base;
	}

	&:last-child {
		.widgettitle {
			border-bottom: none;
		}
	}
}

.widget_widget_keitaro_button {
	.btn {
		display: block;
	}
}

.hentry-grid {
	margin-bottom: $spacer*3;

	.entry-title {
		font-size: $h3-font-size - .4;
	}
}


// Columns block

.wp-block-columns {

	.wp-block-column {
		@include media-breakpoint-down(md) {
			margin-left: initial;
			flex-basis: auto !important;
		}
	}

}

// Group block

.wp-block-group {

	position: relative;

	.wp-block-group__inner-container {
		padding-top: $spacer*8;
		padding-bottom: $spacer*8;
	}

	&.no-padding-top {
		>.wp-block-group__inner-container {
			padding-top: 0;
		}
	}

	&.no-padding-bottom {
		>.wp-block-group__inner-container {
			padding-bottom: 0;
		}
	}

	.wp-block-image {
		img {
			height: auto;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;
		flex-wrap: wrap;
	}

	&.has-background {
		padding: 0;
	}

	&.has-green-to-light-gray-gradient-background {
		background: linear-gradient(180deg, $primary 0% 65%, $keitaro-gray-lightest 65%);

		.wp-block-group__inner-container {
			padding-bottom: $spacer*2;
		}
	}

	&.has-light-gray-to-white-gradient-background {
		background: linear-gradient(180deg, $keitaro-gray-lightest 0% 65%, $white 65%);

		.wp-block-group__inner-container {
			padding-bottom: $spacer*2;
		}
	}
}


// Block titles

.has-text-align-center {

	@include title-underdash;

	&.has-white-color {
		&:after {
			background-color: $success;
		}
	}
}

p {
	&.has-text-align-center {
		&:after {
			content: none;
		}
	}
}


// Buttons block

.wp-block-buttons {

	.wp-block-button {

		&.btn-call,
		&.btn-email {

			border-color: transparent;
		}

		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-dark;
		}

		&.is-style-fill {
			.wp-block-button__link {
				@extend .btn-primary;
			}
		}

		&.is-style-outline {
			.wp-block-button__link {
				@extend .btn-outline-primary;
			}
		}
	}

	.btn-call,
	.btn-email {

		width: $spacer*5;

		.wp-block-button__link {
			@extend .fa;
			position: relative;
			transition: none;

			&:hover {
				&:before {
					@include btn-with-icon;
					background-color: inherit;
				}
			}
		}
	}

	.btn-call {

		.wp-block-button__link {
			&:before {
				@include btn-with-icon;
				content: fa-content($fa-var-phone-alt);
			}
		}
	}

	.btn-email {

		.wp-block-button__link {
			&:before {
				@include btn-with-icon;
				content: fa-content($fa-var-envelope);
			}
		}
	}
}

.arrow-right {
	@include media-breakpoint-up(lg) {
		@include keitaro-edge-right(-$spacer);
	}
}

.arrow-left {
	@include media-breakpoint-up(lg) {
		@include keitaro-edge-left(-$spacer);
	}
}

.wp-block-keitaro-latest-content {
	max-width: $container-max-width - 10;
	margin: auto;
}
