.content-area {
	padding-bottom: $content-area-padding;

	.post-thumbnail {
		&:not(:first-child) {
			margin-top: $grid-gutter-width / 2;
		}

		&:not(:last-child) {
			margin-bottom: $grid-gutter-width / 2;
		}
	}
}

// .list-service-icons {
// 	@extend .d-flex;
// 	@extend .justify-content-center;
// 	@extend .flex-wrap;
// 	@extend .my-5;
// 	padding-left: 0;
// 	font-size: 0; // Removes any text elements before the icons
// 	text-align: center;

// 	.image {
// 		max-width: 30px !important; // Must use !important here since the width is inlined.
// 		height: auto;
// 		margin: $spacer;
// 	}
// }

.address-list {
	font-size: $h5-font-size;
	margin-top: $grid-gutter-width * 2;
}

.post-list {
	text-align: right;
}

.list-with-icon {
	list-style: none;
	font-size: $font-size-lg;
	line-height: $headings-line-height;
	padding-left: 0;

	li {
		display: flex;
		align-items: center;
		padding: $spacer;

		&:before {
			@extend .fa;
			@extend .fas;
			margin-right: $spacer*1.5;
		}
	}
}

.list-checked {
	@extend .list-with-icon;

	li {
		&:before {
			content: fa-content($fa-var-check);
		}
	}
}

.list-checked-alt {
	@extend .list-with-icon;
	display: flex;
	flex-wrap: wrap;

	li {
		flex-basis: 33%;
		flex-direction: column;
		align-items: unset;

		strong {
			margin-bottom: $spacer;
		}

		&:before {
			@extend .fa-2x;
			content: fa-content($fa-var-check-circle);
			margin-bottom: $spacer;
		}
	}
}

.lead-post-text {
	font-size: $font-size-lg;
	color: $keitaro-green-light;
	margin: 30px 0 20px 0;
}

.main-post-title {
	color: $keitaro-green-dark;
	letter-spacing: $letter-spacing-base;
}

.main-post-item {
	margin-top: 45px;
}

.post-icons {
	margin-left: 10px;
	min-width: 120px;
}

.post-wrapper {
	margin: 70px 0 40px 0;
}

.tweets {
	margin: 150px 0;
}

.main-tweets-title {
	letter-spacing: $letter-spacing-base;
}

.date-stamp {
	border-bottom: 2px solid $keitaro-gray-lightest;
	padding-bottom: 20px;
}

.lead-md {
	font-size: $font-size-lg;
}

.lead-block {
	display: block;
	font-size: $font-size-lg;
}

.border-transparent {
	border: transparent;
	background: transparent;
}

.dl-navigation {
	dt {
		@extend .text-uppercase;
		font-weight: inherit;
		margin-bottom: $grid-gutter-width / 3;
	}

	dd {
		margin: $grid-gutter-width / 24 0;
	}
}

.single-post-thumbnail {
	img {
		display: block;
		margin: auto;
	}
}

.partners-content {
	.wp-block-separator {
		width: 80%;
		margin-top: 2rem;
	}
}

.entry-content {
	word-break: break-word;
	margin-top: $grid-gutter-width / 2;
	margin-bottom: $spacer*2;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		font-weight: 600;
	}
}

.entry-group {
	.hentry {
		margin: $grid-gutter-width / 3 0;
	}
}

.entry-title {
	word-break: break-word;
	overflow-wrap: break-word;
	margin: auto;

	a {
		color: $keitaro-gray-dark;
		text-decoration: none;
	}
}

.about-child-pages {
	p {
		color: $keitaro-gray-dark;
		font-size: 22px;
	}
}

.img-round {
	border-radius: 50%;
	border: 1px solid $keitaro-green-gray-l-30;
}

hr {
	border-width: 2px;
}

.hr-green {
	border-color: $keitaro-green-light;
}

.keitaro-dark-green {
	color: $keitaro-green-dark;
}

.call-to-action {
	color: $body-bg;
	background-color: $keitaro-white;
	padding: $spacer*3 $spacer;

	.menu {
		@extend .nav;
	}

	.menu-item {
		@extend .nav-item;
		margin: $spacer $spacer auto;

		a {
			@extend .nav-link;
		}

		&:first-child {
			a {
				@extend .btn;
				@extend .btn-primary;
			}
		}

		&:not(first-child) {
			a {
				@extend .btn;
				@extend .btn-light;
				border: 2px solid;
			}
		}
	}

	.textwidget {
		* :last-child {
			margin-bottom: 0;
		}
	}
}

.call-to-action-title {
	color: $body-bg;
	font-weight: 900;
	letter-spacing: $letter-spacing-small;
	margin-bottom: $spacer;
	color: $keitaro-gray-dark;
	text-align: center;
}

.call-to-action-wrapper {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.call-to-action-secondary {
	@extend .text-center;
	margin: $grid-gutter-width 0;
}

.discover {
	text-align: right;
}

.list-wide {
	letter-spacing: $letter-spacing-large;

	li {
		margin-left: $grid-gutter-width / 4;
		margin-right: $grid-gutter-width / 4;
	}
}

.subpage-title {
	text-transform: uppercase;
	letter-spacing: $letter-spacing-small;
}

.hentry {
	&:not(:last-child) {
		margin-bottom: $content-area-padding;
	}
}

.featured-post {
	&:not(.sticky) {
		&.hentry {
			&:first-child {
				margin-bottom: $content-area-padding;
			}
		}

		&:not(:last-child) {
			margin-bottom: $content-area-padding;
		}
	}
}

.post-meta-list {
	@extend .list-inline;
	margin-top: $padding-large-vertical * 2;

	li {
		margin-bottom: $padding-large-vertical;
	}
}

.post-categories {
	@extend .post-meta-list;

	a {
		@extend .btn;
	}
}

.post-tags {
	@extend .post-meta-list;

	a {
		@extend .btn;
		@extend .btn-sm;
	}
}

.entry-meta {
	color: $keitaro-green-gray-l-10;
}

iframe,
embed,
object {
	max-width: 100%;
}

hr {
	border-width: 1px;
}

.twitter-content-widget {
	border: $sticky-border;
	margin: $grid-gutter-width 0;
	padding: 0 $grid-gutter-width;
}

.twitter-content-widget-title {
	margin-bottom: $grid-gutter-width / 2;
}

.no-results {
	margin-bottom: $grid-gutter-width;

	.page-header {
		padding-bottom: 0;
	}
}

.single-post-wrapper {
	color: $keitaro-gray-dark;
}

.widget-contact {
	.entry-title {
		color: $primary;
	}
}

.highlight {
	color: $success;
}

pre {
	font-size: $font-size-sm;
}

.sharedaddy {
	margin: $grid-gutter-width 0 $grid-gutter-width / 2;
}

.widgettitle {
	font-size: $h4-font-size;
	font-weight: $headings-font-weight;
	color: $primary;
	margin-bottom: $grid-gutter-width / 4;
}

.widget-wrapper {
	&:first-child {
		.widgettitle {
			margin-top: 0;
		}
	}

	&+.widget-wrapper {
		.widgettitle {
			margin-top: $grid-gutter-width / 4 + $grid-gutter-width / 6;
		}
	}
}

.widget_widget_keitaro_page_text {
	&.widget-wrapper {
		.widgettitle {
			margin-top: ($grid-gutter-width / 3);
		}
	}

	.widgettitle {
		@extend .text-uppercase;
		font-weight: 600;
		font-size: $font-size-sm;
		padding-bottom: ($grid-gutter-width / 3);
		color: darken($keitaro-green-light, 2%);
		border-bottom: 1px solid $table-border-color;
		letter-spacing: $letter-spacing-base;
	}

	&:last-child {
		.widgettitle {
			border-bottom: none;
		}
	}
}

.widget_widget_keitaro_button {
	.btn {
		display: block;
	}
}

.member-name-desc {
	h3 {
		min-height: 4.5rem;
		margin-bottom: 0 !important;
	}
}

.insights-title {
	font-weight: 600;
	color: $keitaro-gray-dark;
}

.blogs-content-categories {
	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		margin: 0;
	}

	li::before {
		font-family: "Font Awesome 5 Free";
		content: "\f292";
		display: inline-block;
		vertical-align: middle;
		color: #7f7a71;
		font-size: 12px;
		font-weight: 600;
	}

	a {
		padding: 5px;
		font-size: 16px;
	}
}

.entry-header {
	text-align: center;
}

.entry-title:after {
	content: '';
	display: block;
	height: 0.2em;
	width: 3rem;
	margin: 7px auto;
	border-bottom: solid;
	color: $keitaro-green-dark;
}

.blogs-content {

	h3,
	h4 {
		color: $keitaro-gray-dark;
		margin-top: 2rem;
	}

	h4 a {
		color: $keitaro-gray-dark;
		text-decoration: none;
	}

	h3 a {
		color: $keitaro-gray-dark;
		text-decoration: none;
	}

	p {
		color: $keitaro-gray-dark;
	}
}

.blog-list-categories {
	list-style: none;
	padding: 0;


	li {
		padding: 5px;
		font-size: 18px;
	}

	li::before {
		font-family: "Font Awesome 5 Free";
		content: "\f292";
		display: inline-block;
		vertical-align: middle;
		font-weight: 600;
		margin-right: 10px;
		color: $keitaro-green-dark;
	}

	a {
		color: $keitaro-green-dark;
		text-decoration: none;
	}

}

// Media Text block

.wp-block-media-text {

	position: relative;
	@include keitaro-edge-right;

	&:before {
		position: absolute;
		content: '';
		display: block;
		bottom: 0;
		left: $spacer*5;
		right: $spacer*6;
		top: 20%;
		background-color: $white;
	}

	&:not(:last-child) {
		margin-bottom: $spacer*8;
	}

	&.has-media-on-the-right {
		margin-right: 0;
		@include keitaro-edge-left;

		&:before {
			left: $spacer*6;
		}

		>* {
			padding-right: 0;
		}

		.wp-block-media-text__content {
			margin-left: $spacer*6;
			margin-right: 0;
		}

		.wp-block-image {
			display: block;
		}
	}

	.wp-block-group__inner-container {
		padding-right: 0;
	}

	.wp-block-media-text__content {
		align-self: stretch;
		position: relative;
		color: $keitaro-gray-dark;
		font-size: $font-size-lg;
		margin-right: $spacer*6;
		padding-right: 0;
		padding-left: 0;

		.has-large-font-size {
			margin-bottom: 0;
			padding-bottom: $spacer*5;
		}

		>* {
			padding-left: $spacer*5;
			padding-right: $spacer*5;

			&:has(h1, h2, h3, h4, h5, h6) {
				background-color: $white;
			}
		}

		.wp-block-image,
		.has-huge-font-size,
		.has-large-font-size {
			background-color: transparent;
		}
	}

	.wp-block-media-text__media {
		display: flex;
		flex-direction: column;
		position: relative;
		max-height: 100%;
		overflow: auto;
		align-self: flex-start;
		margin: auto;

		img {
			object-fit: scale-down;
			max-height: 50%;
			margin-bottom: $spacer*5;
		}
	}

	p {
		&:first-of-type {
			padding-top: $spacer*3;
		}

		&:last-of-type {
			padding-bottom: $spacer*3;
		}

		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: $spacer*2;
		padding-right: $spacer*5;
		background-color: $white;
	}

	.wp-block-image {
		padding: 0 $spacer*5;
		margin-bottom: 0;
		transform: translateY(-$spacer*3);

		img {
			width: auto;
			height: auto;
		}
	}
}

// Group block

.wp-block-group {

	position: relative;

	.wp-block-group__inner-container {

		padding-top: $spacer*8;
		padding-bottom: $spacer*8;

		>.wp-block-media-text {

			.wp-block-media-text__content {
				margin-top: $spacer*5;
			}
		}
	}

	&.no-padding-top {
		>.wp-block-group__inner-container {
			padding-top: 0;
		}
	}

	&.no-padding-bottom {
		>.wp-block-group__inner-container {
			padding-bottom: 0;
		}
	}

	&.feature-group {

		.wp-block-columns {

			.wp-block-column {
				&:not(:first-child) {
					margin-left: $spacer*2;
				}

				margin-bottom: $spacer*2;
			}
		}
	}

	.wp-block-image {
		img {
			height: auto;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;
	}

	&.has-green-to-light-gray-gradient-background {
		background: linear-gradient(180deg, $primary 0% 65%, $keitaro-gray-lightest 65%);

		.wp-block-group__inner-container {
			padding-bottom: $spacer*2;
		}
	}

	&.has-light-gray-to-white-gradient-background {
		background: linear-gradient(180deg, $keitaro-gray-lightest 0% 65%, $white 65%);

		.wp-block-group__inner-container {
			padding-bottom: $spacer*2;
		}
	}
}


// Block titles

.has-text-align-center {

	&.has-white-color {
		&:after {
			background-color: $success;
		}
	}

	&:after {
		content: '';
		display: block;
		height: $spacer/4;
		width: $spacer*3;
		margin: ($spacer - $spacer/4) auto;
		background-color: $primary;
	}
}

p {
	&.has-text-align-center {
		&:after {
			content: none;
		}
	}
}


// Buttons block

.wp-block-buttons {

	.wp-block-button {

		&.btn-call,
		&.btn-email {

			border-color: transparent;
		}

		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-dark;
		}

		&.is-style-fill {
			.wp-block-button__link {
				@extend .btn-primary;
			}
		}

		&.is-style-outline {
			.wp-block-button__link {
				@extend .btn-outline-primary;
			}
		}
	}

	.btn-call,
	.btn-email {

		width: $spacer*5;

		.wp-block-button__link {
			@extend .fa;
			position: relative;
			transition: none;

			&:hover {
				&:before {
					@include btn-with-icon;
					background-color: inherit;
				}
			}
		}
	}

	.btn-call {

		.wp-block-button__link {
			&:before {
				@include btn-with-icon;
				content: fa-content($fa-var-phone-alt);
			}
		}
	}

	.btn-email {

		.wp-block-button__link {
			&:before {
				@include btn-with-icon;
				content: fa-content($fa-var-envelope);
			}
		}
	}
}

.arrow-right {
	@include keitaro-edge-right(-$spacer);
}

.arrow-left {
	@include keitaro-edge-left(-$spacer);
}

.team-cards {

	.wp-block-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: $white;
		padding: $spacer*4 $spacer*3;
		box-shadow: 0 $spacer/4 $spacer*2 0 rgba($black, 0.1);

		*:last-child {
			margin-bottom: 0
		}
	}

	.wp-block-buttons {
		margin-top: auto;
	}
}
