// Custom theme variables

$box-arrow-width: $spacer*7;
$box-arrow-border-width: $spacer;
$card-box-shadow-base: 0 $spacer/4 $spacer/2 0 rgba($black, 0.05);
$card-box-shadow-lg: 0 $spacer/4 $spacer*2 0 rgba($black, 0.1);
$container-max-width: 90%;
$circle-icon-width: 100px;
