.blog,
.search,
.single,
.author,
.archive,
.error404 {
	.footer-bg {
		// border-top: $container-bg-border;
		background-color: $keitaro-gray-lightest;

		hr {
			border-color: $keitaro-green-gray-l-30;
		}
	}

	.copyright {

		&,
		a {
			color: $keitaro-green-gray;
		}
	}

	.footer-secondary-navigation {
		a {
			color: $keitaro-green-gray;
		}
	}
}

.footer-links {
	color: $keitaro-green-gray-l-10;
	letter-spacing: $letter-spacing-base;
	font-size: $font-size-base / 1.2;
}

.main-footer {
	padding-top: $spacer*3;
	padding-bottom: $spacer*3;

	.keitaro-symbol {
		width: $spacer*3;
		margin: $spacer*3 $spacer*3 $spacer*5;
	}

	.current-menu-item {
		a {
			color: $link-color;
		}
	}
}

.footer-secondary-navigation {
	a {
		@extend .footer-links;
	}
}

.copyright {
	margin: ($grid-gutter-width / 6 + 3px);
	text-align: center;

	p {
		margin: 0;
	}

	&,
	a {
		@extend .footer-links;
	}
}

.keitaro-connect {
	height: 550px;
	background-color: $keitaro-white;
	position: relative;

	h1 {
		margin-bottom: 20px;
		color: $keitaro-gray-dark;
		font-weight: 900;
	}

	h1:after {
		content: '';
		display: block;
		height: 0.2em;
		width: 10%;
		margin: 7px auto;
		border-bottom: solid;
		color: $keitaro-green-dark;
	}
}