.blog,
.search,
.single,
.author,
.archive,
.error404 {
	.footer-bg {
		// border-top: $container-bg-border;
		background-color: $keitaro-gray-lightest;

		hr {
			border-color: $keitaro-green-gray-l-30;
		}
	}

	.copyright {

		&,
		a {
			color: $keitaro-green-gray;
		}
	}

	.footer-secondary-navigation {
		a {
			color: $keitaro-green-gray;
		}
	}
}

.footer-links {
	color: $keitaro-green-gray-l-10;
	letter-spacing: $letter-spacing-base;
	font-size: $font-size-base / 1.2;
}

.main-footer {
	padding-top: $spacer*3;
	padding-bottom: $spacer*3;

	.widget-wrapper {
		flex-basis: 100%;

		@include media-breakpoint-up(md) {
			flex-basis: 15%;
		}
	}

	.widget_text {
		margin-right: auto;
		flex-basis: 33%;
	}

	.jetpack_widget_social_icons {
		flex-basis: 100%;
	}

	.jetpack-social-widget-item {
		&:not(:first-child) {
			margin-left: $spacer;
		}
	}

	.keitaro-symbol {
		width: $spacer*2;
		margin: $spacer*1.5 $spacer;
	}

	.current-menu-item {
		a {
			color: $link-color;
		}
	}
}

.footer-secondary-navigation {
	a {
		@extend .footer-links;
	}
}

.copyright {
	margin: ($grid-gutter-width / 6 + 3px);
	text-align: center;

	p {
		margin: 0;
	}

	&,
	a {
		@extend .footer-links;
	}
}
