.contact-form {

	label {
		cursor: pointer;
	}

	textarea {
		max-width: 100%;
	}

	.alert {
		display: none;
		color: $danger;
		padding: $grid-gutter-width / 6 0 0 0;
	}

	// label {
	// 	@extend .unselectable;
	// 	@extend .animate-position;
	// 	cursor: pointer;
	// 	position: absolute;
	// 	width: 100%;
	// 	top: -$spacer*2;
	// 	left: $spacer;
	// 	display: block;
	// }

	.form-group {
		margin: $spacer 0;

		label {
			padding: 0 $spacer;
		}
	}

	// 	&.form-select {
	// 		.form-control {
	// 			line-height: 1.5;
	// 		}

	// 		margin-top: -$spacer;
	// 	}
	// }

	.form-control {
		background: $keitaro-gray-lightest;
		border: transparent;
		border-bottom: $spacer/6 solid $keitaro-green-gray-l-20;
		box-shadow: none;

		&:focus {

			&,
			&:valid {
				border-bottom-color: $keitaro-green-dark;
			}

			~label {
				// top: -$spacer*2.125;
				color: $primary;
			}
		}
	}
}

.animate-position {
	transition: 100ms top ease-in-out;
}
