// Group block

.is-style-wrapper {

	.wp-block-group__inner-container {
		padding: $spacer*3;
	}
}

// Column block

.is-style-service-group {

	justify-content: center;
	padding-left: $spacer;
	padding-right: $spacer;

	.wp-block-column {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $keitaro-white;
		padding: $spacer*2;
		margin: $spacer;
		color: $keitaro-gray-dark;
		box-shadow: $card-box-shadow-base;
		transition: background-color .2s linear;

		&:hover {
			box-shadow: $card-box-shadow-lg;
		}

		.has-large-font-size {
			text-transform: uppercase;
			font-size: $h3-font-size;
		}

		a {
			@extend .stretched-link;
		}

		.wp-block-image {
			width: $circle-icon-width;
			height: $circle-icon-width;
			@extend .rounded-circle;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			img {
				object-fit: contain;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.wp-block-buttons {
		margin-top: auto;
		justify-content: flex-start;
	}
}

.is-style-team-group {

	flex-wrap: wrap;
	justify-content: center;

	.wp-block-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: $white;
		padding: $spacer*4 $spacer*3;
		box-shadow: $card-box-shadow-lg;
		word-break: normal;

		*:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-buttons {
		margin-top: auto;
	}

	.wp-block-button {

		&,
		&:last-child {
			margin: $spacer/4;
		}
	}
}

.is-style-feature-group {

	.wp-block-column {
		align-self: stretch;
		margin-top: $spacer;

		display: flex;
		flex-direction: column;
	}

	.wp-block-group {
		flex-grow: 1;
	}

	.wp-block-group__inner-container {
		padding: $spacer*3;
	}
}

.is-style-feature-group-list {
	align-items: flex-end;
}

// Media Text block

.is-style-media-text-feature {

	display: flex;
	align-items: flex-end;
	position: relative;

	&.has-media-on-the-right {

		&:before {
			left: $spacer*6;
		}

		.wp-block-media-text__media {
			order: 2;
		}

		.wp-block-image {
			display: block;
		}
	}

	.wp-block-group__inner-container {
		padding-right: 0;
	}

	.wp-block-media-text__content {
		align-self: stretch;
		position: relative;
		color: $keitaro-gray-dark;
		font-size: $font-size-lg;

		background: $white;

		>.wp-block-image {
			&:first-child {

				img {
					max-height: $spacer*4.5;
				}
			}
		}
	}

	.wp-block-media-text__media {
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: visible;
		align-self: stretch;
		background: $white;

		img {
			object-fit: cover;
			object-position: top;

		}
	}
}

.is-style-media-text-feature-transparent {
	@extend .is-style-media-text-feature;

	.wp-block-media-text__media {
		overflow: visible;

		img {
			object-fit: contain;
			box-shadow: none;
			margin-left: 0;
		}
	}
}

.is-style-media-text-partner {
	position: relative;
	display: flex;

	align-items: center;
	margin: $spacer*5 0;

	.wp-block-media-text__content {
		>.wp-block-group {

			transform: translateY(-$spacer*5);

			.wp-block-image {

				&,
				figure {
					margin-bottom: 0;
				}
			}
		}
	}

	.wp-block-media-text__media {
		flex-grow: 1;
		max-height: 150px;
		overflow: hidden;

		img {
			object-fit: cover;
		}
	}

	.wp-block-image {
		img {
			max-height: $spacer*5;
			object-fit: contain;
		}
	}

}


// List block

.is-style-list-checked {
	@extend .list-with-icon;

	li {
		display: block;

		&:before {
			content: fa-content($fa-var-check);
		}
	}
}

.is-style-list-checked-alt {
	@extend .list-with-icon;
	display: flex;
	flex-wrap: wrap;

	li {
		flex-basis: 33%;
		flex-direction: column;
		align-items: initial;
		font-size: $font-size-base;

		strong {
			font-size: $h4-font-size;
			margin-bottom: $spacer;
		}

		&:before {
			@extend .fa-2x;
			content: fa-content($fa-var-check-circle);
			margin-bottom: $spacer;
		}
	}
}


// Latest Posts block

.is-style-latest-posts-insights-no-lg-featured {

	max-width: $container-max-width;
	margin: auto;

	&.is-grid {

		li {
			margin-right: 0;
		}
	}

	li {
		padding: $spacer/2;

		position: relative;

		a {
			@extend .btn;
			@extend .btn-link;
			@extend .stretched-link;
			white-space: normal;
			text-align: initial;
			padding-left: 0;
			letter-spacing: initial;
		}

		.wp-block-latest-posts__post-author,
		.wp-block-latest-posts__post-date,
		.wp-block-latest-posts__post-excerpt {
			margin-top: $spacer;
		}

		.wp-block-latest-posts__post-author,
		.wp-block-latest-posts__post-date {
			font-size: $font-size-sm;
			grid-column: 2 / auto;
		}

		flex-basis: 33%;
		flex-grow: 1;

		.wp-block-latest-posts__featured-image {
			margin-bottom: $spacer/2;
		}

		a {
			@extend .h4;
			font-weight: 500;
			margin-bottom: 0;
		}

		.wp-block-latest-posts__post-excerpt {
			display: none;
		}
	}
}

.is-style-latest-posts-insights {

	max-width: $container-max-width;
	margin: auto;

	&.is-grid {

		li {
			margin-right: 0;
		}
	}

	li {
		padding: $spacer/2;

		position: relative;

		> a {
			@extend .btn;
			@extend .btn-link;
			white-space: normal;
			text-align: initial;
			padding-left: 0;
			letter-spacing: initial;
		}

		.wp-block-latest-posts__post-author,
		.wp-block-latest-posts__post-date,
		.wp-block-latest-posts__post-excerpt {
			margin-top: $spacer;
		}

		.wp-block-latest-posts__post-author,
		.wp-block-latest-posts__post-date {
			font-size: $font-size-sm;
			grid-column: 2 / auto;
		}

		&:first-child {

			flex-basis: 100%;
			margin-bottom: 0;

			.wp-block-latest-posts__featured-image {
				grid-row: 1 / span 10;
				grid-column: 1 / 2;
			}

			> a {
				grid-column: 2 / auto;
				margin-bottom: 0;
				font-size: $h4-font-size;
				line-height: $headings-line-height;
				font-weight: $headings-font-weight;

			}

			.wp-block-latest-posts__post-excerpt {
				grid-column: 2 / auto;
				color: $keitaro-gray-dark;
			}
		}

		&:not(:first-child) {

			flex-basis: 33%;
			flex-grow: 1;

			.wp-block-latest-posts__featured-image {
				margin-bottom: $spacer/2;
			}

			a {
				@extend .h4;
				margin-bottom: 0;
			}

			.wp-block-latest-posts__post-excerpt {
				display: none;
			}
		}
	}
}

.wp-block-cover {

	.wp-block-cover__inner-container {
		* {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-latest-posts__post-excerpt {
	a {
		margin-top: 1.5rem;
		@extend .btn;
		@extend .btn-outline-dark;
		display: table;
	}
}

.wp-block-latest-posts__featured-image {
	display: flex;
	flex-direction: column;

	img {
		width: 100%;
	}
}
