.custom-logo {
	width: auto;
	max-width: 100%;
	max-height: 40px;
	height: auto;
}

.site-title {
	@extend .h2;
	margin: $spacer/4 0;
}

.page-header {
	margin: 0;
	text-align: center;
	padding-bottom: $grid-gutter-width;
}

.page-title {
	@include title-underdash;
	text-transform: uppercase;
}

.single {
	.post-thumbnail{
		margin-top: $spacer*2;
		margin-bottom: $spacer*2;
	}

	.entry-content {
		font-size: $font-size-lg;
	}
}

.archive {

	.author-title,
	.entry-title {
		font-size: $h3-font-size;
	}

}
