.home-content-wrapper {

  // blocks
  .wp-block-media-text {
    margin-top: 5rem;
    margin-bottom: 2rem;
    height: 100%;

    .wp-block-media-text__content {
      color: $keitaro-gray-dark;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      height: 100%;

      a {
        padding: 0.7rem 1.3rem;
        border: 2px solid $keitaro-gray-dark;
        text-decoration: none;
        background-color: $keitaro-white;
        color: $keitaro-gray-dark;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;

        &:hover {
          background-color: $keitaro-green-gray-l-35;
        }
      }

      img {
        margin-bottom: 2rem;
        width: 70%;
      }
    }
  }

  // recent posts 
  .wp-block-latest-posts {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .wp-block-latest-posts__featured-image {
      margin-bottom: 1rem;
      ;
    }

    li {
      padding: 1rem;

      a {
        color: $keitaro-gray-dark;
        text-decoration: none;

        &:hover {
          color: $keitaro-green-dark;
        }
      }
    }

    li:first-of-type {
      width: 100%;

      .wp-block-latest-posts__post-excerpt {
        color: $keitaro-gray-dark;
      }

      a {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    li:not(:first-of-type) {
      flex: 1;

      a {
        font-size: 1.7rem;
        font-weight: 600;
      }

      .wp-block-latest-posts__post-excerpt {
        display: none;
      }
    }

  }

}