.wp-post-image,
.post-thumbnail {
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.entry-content {
	.wp-post-image {
		aspect-ratio: auto;
	}
}

.hentry-first {
	margin-top: 0;

	.post-thumbnail {
		margin-bottom: $spacer*1.5;
	}

	.entry-content {
		@extend .lead;
	}
}

.hentry-grid {
	.post-thumbnail {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
	}
}

.format-image,
.post-thumbnail {
	figcaption {
		color: $keitaro-green-gray-l-10;
		padding: $padding-base-vertical $padding-base-horizontal 0;
	}
}

.format-image {
	.entry-content {
		img {
			margin: 0;
		}
	}
}

.entry-content {

	.wp-caption-text {
		margin: 0;
	}

	.wp-caption {
		margin-left: 0;
		margin-right: 0;
	}

	figure {
		max-width: 100%;
		margin: $grid-gutter-width / 2;

		figcaption {
			margin: 0 $grid-gutter-width / 2;
		}

		img {
			margin: 0 $grid-gutter-width / 2 $grid-gutter-width / 4;
			height: auto;
		}
	}

	img {
		margin: $grid-gutter-width / 2;
		max-width: 90%;
		height: auto;
	}
}

.thumbnail {
	border: transparent;
	background: transparent;
	padding: $grid-gutter-width / 6 0;
}

.thumbnail-sm {
	img {
		max-height: $grid-gutter-width * 2;
	}
}

.avatar {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	z-index: 1;
	display: block;
}

.avatar-url {
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	@include fa-icon($fa-var-camera);
}
