.page-template-landing {

	// Group block

	.wp-block-group {

		&.has-background {
			.wp-block-columns {
				margin-bottom: 0;
			}
		}

		.has-huge-font-size,
		.has-large-font-size {
			padding-bottom: $spacer*3;
			margin-bottom: 0;
		}
	}


	// Cover block

	.wp-block-cover {

		min-height: 700px;

		.has-huge-font-size {
			font-size: $display3-size;
		}

		.has-large-font-size,
		.has-huge-font-size {
			&:after {
				content: none;
				padding-bottom: 0;
			}
		}

		.has-large-font-size {
			line-height: $headings-line-height;
		}

		.wp-block-cover__inner-container {
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}


	// Latest Posts block

	.wp-block-latest-posts {

		max-width: 75%;
		margin: auto;

		&.is-grid {

			li {
				margin-right: 0;
			}
		}

		li {
			padding: $spacer;
			position: relative;

			a {
				@extend .btn;
				@extend .btn-link;
				@extend .stretched-link;
				white-space: normal;
				text-align: initial;
				padding-left: 0;
				letter-spacing: initial;
			}

			.wp-post-image {
				min-height: 100%;
				min-width: 100%;
				object-fit: cover;
				max-height: $spacer*25;
			}

			.wp-block-latest-posts__post-author,
			.wp-block-latest-posts__post-date,
			.wp-block-latest-posts__post-excerpt {
				margin-top: $spacer;
			}

			.wp-block-latest-posts__post-author,
			.wp-block-latest-posts__post-date {
				font-size: $font-size-sm;
				grid-column: 2 / auto;
			}

			&:first-child {

				flex-basis: 100%;
				display: grid;
				grid-template-columns: minmax(66%, 1fr);
				gap: 0 $spacer*2;
				margin-bottom: 0;

				.wp-block-latest-posts__featured-image {
					grid-row: 1 / span 10;
					grid-column: 1 / 2;
					// max-width: 66%;
					// margin-right: $spacer*2;
					// float: left;
					// display: flex;
					// flex-direction: column;
				}

				a {
					grid-column: 2 / auto;
					margin-bottom: 0;
					@extend .h2;
				}

				.wp-block-latest-posts__post-excerpt {
					grid-column: 2 / auto;
					color: $keitaro-gray-dark;
				}
			}

			&:not(:first-child) {

				flex-basis: 33%;
				flex-grow: 1;

				.wp-block-latest-posts__featured-image {
					margin-bottom: $spacer/2;
					max-height: $spacer*10;
					overflow: hidden;
				}

				a {
					@extend .h4;
					margin-bottom: 0;
				}

				.wp-block-latest-posts__post-excerpt {
					display: none;
				}
			}
		}
	}


	// Columns block

	.wp-block-columns {

		justify-content: center;

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
		}

		.wp-block-column {
			flex: 0 1 $spacer*23;
			display: flex;
			flex-direction: column;
			background-color: $keitaro-white;
			padding: $spacer*2;
			margin: 0 $spacer/1.5 $spacer*1.5;
			color: $keitaro-gray-dark;
			position: relative;
			transition: background-color .2s linear;

			&:hover {
				box-shadow: 0 $spacer/4 $spacer*2 0 rgba(0, 0, 0, 0.2);
			}

			.wp-block-buttons {
				margin-top: auto;
				justify-content: flex-start;
			}

			.has-large-font-size {
				text-transform: uppercase;
				font-size: $h3-font-size;
				text-align: initial;

				&:after {
					content: none;
				}
			}

			a {
				@extend .stretched-link;
			}

			.wp-block-image {
				max-width: 100px;
				@extend .rounded-circle;
				@extend .bg-light;
				padding: $spacer/2 $spacer;

				img {
					object-fit: contain;
					width: auto;
					max-height: 100px;
				}
			}
		}
	}
}
