.home {

	// Cover block

	.wp-block-cover {

		min-height: 35vh;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: initial;
		}

		.has-huge-font-size {
			font-size: $display3-size;
		}

		.has-large-font-size,
		.has-huge-font-size {

			&:after {
				content: none;
				padding-bottom: 0;
			}
		}

		.has-large-font-size {
			line-height: $headings-line-height;
		}
	}

}
