.page-template-landing {

	// Cover block

	.wp-block-cover {

		min-height: 75vh;

		@include media-breakpoint-up(lg) {
			min-height: 700px;
		}

		@include media-breakpoint-down(lg) {

			.wp-block-keitaro-logo-slider {
				.title {
					margin-top: auto;
				}
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: initial;
		}

		.has-huge-font-size {
			font-size: $display3-size;

			@include media-breakpoint-down(sm) {
				font-size: $h1-font-size;
			}
		}

		.has-large-font-size {
			@include media-breakpoint-down(sm) {
				font-size: $font-size-lg;
			}
		}

		.has-large-font-size,
		.has-huge-font-size {

			&:after {
				content: none;
				padding-bottom: 0;
			}
		}

		.has-large-font-size {
			line-height: $headings-line-height;
		}
	}

	@include media-breakpoint-down(lg) {
		.wp-block-keitaro-logo-slider {
			padding: $spacer*2 0;

			.title {
				margin: 0 $spacer*2 $spacer;
				color: initial;
				opacity: initial;
				z-index: initial;
			}

			.logo {
				margin: $spacer;
			}
		}
	}
}
