@mixin keitaro-edge {
	position: absolute;
	content: '';
	display: block;
	width: $box-arrow-width;
	height: $box-arrow-width;
	border-style: solid;
	border-width: $box-arrow-border-width;
	bottom: -$spacer*1;
}

@mixin keitaro-edge-right($right: $spacer*5) {
	&:after {
		@include keitaro-edge;
		border-color: transparent $primary $primary transparent;
		right: $right;
	}
}

@mixin keitaro-edge-left($left: $spacer*5) {
	&:after {
		@include keitaro-edge;
		border-color: transparent transparent $primary $primary;
		left: $left;
	}
}

@mixin location-detail($content) {
	&:before {
		content: $content;
		display: inline-block;
		margin-right: $grid-gutter-width / 6;
		color: $keitaro-green-dark;
		font-weight: 500;
	}
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin shape-outside($shape) {
	-moz-shape-outside: $shape;
	-webkit-shape-outside: $shape;
	shape-outside: $shape;
}

@mixin fa-icon($content,
	$color: $keitaro-gray-light,
	$bg-color: $keitaro-gray-lightest) {
	position: relative;
	background-color: $bg-color;
	@extend %fa-icon;
	@extend .fas;
	@extend .fa-2x;

	&:before {
		@extend .align-items-center;
		@extend .justify-content-center;
		display: inline-flex;
		content: fa-content($content);
		color: $color;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		font-size: $font-size-base * 3;
	}
}

@mixin btn-with-icon {
	position: absolute;
	top: $spacer/1.75;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: $spacer/2;
	background-color: $white;
}
