.main-navigation {
	letter-spacing: $letter-spacing-large;

	.menu-item {
		@extend .nav-item;

		a {
			@extend .nav-link;
			@extend .text-uppercase;
			font-size: $font-size-sm;
		}
	}

}

.navbar {
	padding: 1rem 0;
}

.navbar-brand {
	flex-shrink: 0;
}

.social-footer-wrapper {
	width: 100%;
	text-align: center;
}

.menu-social-media-container {
	ul {
		padding-left: 0;
	}
}

.social-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 320px;

	padding-right: 1rem;

	.textwidget {
		p {
			margin-bottom: 0.2rem;
		}

		h3 {
			margin-bottom: 0.2rem;
		}
	}
}

.social-list:last-of-type {
	margin-top: auto;
}

.footer-offices-navigation {
	display: flex !important;
	justify-content: center;
}

.social-list {

	li {
		display: inline;
	}

	h3,
	h2 {
		font-size: 30px;
		color: $keitaro-gray-dark;
	}
}

.footer-list {
	min-width: 100%;
	text-align: center;
	align-items: center;

	h3 {
		color: $keitaro-gray-dark;
	}
}

.footer-navigation {
	flex-direction: column;

	.menu-item {
		@extend .nav-item;

		a {
			@extend .nav-link;
		}
	}

	&.social-navigation {
		li {
			margin-left: $grid-gutter-width / 6;
			margin-right: $grid-gutter-width / 6;
		}
	}
}

.footer-secondary-navigation {
	flex-direction: row;
}

.menu-item {
	position: relative;

	a {
		color: $keitaro-gray-dark;
	}
}

.current-menu-item {
	>a {
		color: $keitaro-green-dark;
	}
}

.sub-menu {
	list-style: outside none;

	.menu-item {
		a {
			&:before {
				color: $keitaro-gray-light;
				content: $breadcrumb-divider;
				display: inline-block;
				margin-right: $spacer/2;
			}
		}
	}

	.sub-menu {
		position: relative;
	}

	li {

		&,
		&:not(:last-child) {
			padding: 0;
		}

		>a {
			display: block;
		}
	}
}

.navbar-title {
	color: $keitaro-green-light;
	font-weight: 400;
	margin: 0;
}

.container-bg {
	background-color: $white;
}

.container-bottom-border {
	border-bottom: $container-bg-border;
}

.main-panel-title {
	letter-spacing: $letter-spacing-small;
	color: $keitaro-green-dark;
}

.breadcrumb {
	background-color: $keitaro-white;
	@extend .d-flex;
	@extend .flex-nowrap;
	white-space: nowrap;

	li {

		// Trim last two breadcrumb items
		&:nth-last-child(-n + 2) {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.breadcrumb-item {
	&+.breadcrumb-item {
		&:before {
			padding-right: $spacer - 0.25;
		}
	}
}

.page-links {
	margin-top: $spacer;
	margin-bottom: $spacer;

	.page-number {
		margin: $spacer/4 $spacer/2 $spacer/4 0;
	}

	>.page-number {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-success;
	}

	a {
		.page-number {
			@extend .btn;
			@extend .btn-sm;
		}
	}
}

.nav-pagination {
	@extend .my-5;
}

.page-numbers {
	@extend .pagination;
	display: flex;
	align-items: center;
	justify-content: center;

	li {
		@extend .mx-1;
	}

	a {
		@extend .btn;
		@extend .btn-outline-secondary;
	}

	.current {
		display: inline-block;
		@extend .border-primary;
		color: $white;
		background-color: $primary;
		line-height: $btn-line-height;
		padding: $btn-padding-y $btn-padding-x;
	}
}

.menu-item-has-children {
	>a {
		&:after {
			color: $keitaro-gray-light;
			content: "\025BE";
			display: inline-block;
			padding-left: $padding-base-horizontal;
			text-decoration: none;
		}
	}
}
