.page {

	.site-main {
		padding-top: $spacer*5;
		padding-bottom: $spacer*5;
	}

	.wp-block-column {
		.wp-block-group__inner-container {
			padding: $spacer*3;
		}
	}

	.breadcrumb-item {
		a {
			color: inherit;
		}
	}
}
