.read-next {
	margin: $spacer*5 0;

	.hentry {
		margin: auto;
	}

	.entry-title{
		margin-bottom: $spacer;
	}
}

.read-next-title {
	color: $black;
	margin: $spacer*5;
}

.read-more-item-title {
	font-size: $h4-font-size - 3;
}
