@include media-breakpoint-up(lg) {
	.hero {
		display: table; // Because IE
		width: 100%; // Because IE
		background-size: auto 90%;
		background-position: right bottom;
	}

	.hero-title {
		padding-right: 30vw;
	}

	.hero-subtitle {
		display: block;
	}

	.navbar-breadcrumbs {
		margin-bottom: -$spacer*3.25;
		position: relative;
		z-index: 2;
	}

	.navbar-brand {
		margin-right: $spacer*2;
	}

	.main-navigation {
		flex-wrap: wrap;
	}
}

@include media-breakpoint-down(lg) {
	.navbar-collapse {
		.main-navigation {
			margin-top: $spacer;

			a {
				padding: $spacer 0;
			}
		}
	}
}
