@include media-breakpoint-up(lg) {
	.hero {
		display: table; // Because IE
		width: 100%; // Because IE
		background-size: auto 90%;
		background-position: right bottom;
	}

	.hero-title {
		padding-right: 30vw;
	}

	.hero-subtitle {
		display: block;
	}

	.connect-action-icon {
		text-align: right;

		img {
			max-width: 70%;
		}
	}

	.page-title,
	.entry-title {
		margin-top: auto;
	}

	.contact-form {
		margin-top: $grid-gutter-width * 1.25;
	}

	.page-template-contact,
	.page-template-job-application {
		&:not(.page-child) {
			.post-thumbnail {
				text-align: right;
			}
		}
	}

	.page-parent {
		.icon-block-wrapper {
			overflow: visible;
		}

		.panel-value-with-description {
			cursor: help;

			&:hover {
				border-bottom: 5px dashed $keitaro-green-light;

				~.panel-value-description {
					visibility: visible;
					opacity: 1;
					animation: 300ms icon-block-appear ease-in-out 50ms;
				}
			}
		}
	}

	.left-box-filler {
		visibility: visible;
		position: absolute;
		width: 80%;
		height: 4rem;
		bottom: 0;
		right: 0;
		background-color: $keitaro-white;
	}

	.right-box {
		height: 50%;
		text-emphasis: center;
	}

	// .right-box-image {
	// 	width: 130px;
	// 	margin: 0 !important;
	// }

	.left-box-image {
		position: relative !important;
		bottom: 4rem !important;
		margin: 0 !important;
		max-width: 100% !important;
	}

	.custom-partners-image {
		background-color: $keitaro-white;
		position: absolute;
		top: 0;
		right: -3rem;
		bottom: 0;
		margin: auto;
		width: 400px;
		height: 200px;
		z-index: 1;
	}

	.home-content-wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	.products-right-image {
		bottom: 10rem;
	}

	.services-right-image {
		bottom: 10rem;
	}

	.products-left-image {
		bottom: 10rem;
	}

	.services-left-image {
		bottom: 10rem;
	}

	.block-right-list {
		bottom: 10rem;
	}

	.products-description {
		padding: 4rem 2rem 8rem 8rem;
	}

	.wp-block-keitaro-custom-block {
		margin-top: 8rem;
		margin-bottom: 4rem;
	}

	.custom-block-description-left {
		padding-bottom: 8rem;
		padding-top: 2rem;
		padding-right: 8.5rem;
		padding-left: 2rem;
		font-size: 22px;
		color: $keitaro-gray-dark;
	}

	.custom-block-description-right {
		padding-bottom: 8rem;
		padding-top: 2rem;
		padding-right: 2rem;
		padding-left: 8.5rem;
		font-size: 22px;
		color: $keitaro-gray-dark;
	}

	.products-right-absolute {
		position: absolute;
		width: 90%;
		height: calc(100% - 8rem);
		background-color: $keitaro-white;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.products-left-absolute {
		position: absolute;
		width: 90%;
		height: calc(100% - 8rem);
		background-color: $keitaro-white;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.custom-block-absolute {
		position: absolute;
		width: 90%;
		height: calc(100% - 8rem);
		background-color: $keitaro-white;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.lists-right-absolute {
		position: absolute;
		width: 95%;
		height: calc(100% - 8rem);
		background-color: $keitaro-white;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.lists-right-absolute::after {
		display: block;
		content: '';
		position: absolute;
		bottom: -15px;
		left: -15px;
		border-bottom: 15px solid $keitaro-green-dark;
		border-left: 15px solid $keitaro-green-dark;
		height: 7rem;
		width: 7rem;
		border-right: 20px solid transparent;
		border-top: 20px solid transparent;
	}

}

@include media-breakpoint-down(lg) {}