.services {

	.card {
		margin-top: $spacer;
	}

	.card-body {
		padding-left: $spacer*2;
		padding-right: $spacer*2;
	}
}

.services-section {
	//background: $keitaro-gray-lightest;
	background: $keitaro-green-dark;
	padding-bottom: 30px;

	h1 {
		color: $keitaro-white;
		display: inline-block;
	}

	p {
		color: $keitaro-white;
		font-size: 22px;
	}


}

.worldide-map {
	h2 {
		color: $keitaro-gray-dark;
		font-weight: 900;
	}

	h2:after {
		content: '';
		display: block;
		height: 0.2em;
		width: 5%;
		margin: 7px auto;
		border-bottom: solid;
		color: $keitaro-green-dark;
	}
}


.team-wrapper {
	box-shadow: 0 0 15px 0 #0000002c;
}

.core-section {
	background: $keitaro-gray-lightest;
	padding-bottom: 30px;

	h1 {
		color: $keitaro-gray-dark;
		display: inline-block;
	}

	h1:after {
		content: '';
		display: block;
		height: 0.2em;
		width: 10%;
		margin: 7px auto;
		border-bottom: solid;
		color: $keitaro-green-dark;
	}

}

.service-icon {
	flex-shrink: 0;
	border-radius: 50%;
	align-self: flex-start;
	overflow: hidden;
	flex-basis: $service-icon-size;
	width: $service-icon-size;
	height: $service-icon-size;
	max-width: $service-icon-size; // Because IE
	background: $keitaro-green-gray-l-35;
	margin: $spacer 0;

	.wp-post-image {
		padding: $spacer*1.25;
		object-fit: contain;
	}
}

.service-item {
	text-align: start;
	transition: .3s background-color;
	background-color: $keitaro-white;
	justify-content: space-between;

	.service-title {
		color: $keitaro-gray-dark;
	}

	.service-description {
		color: $keitaro-gray-dark;
	}

	span {
		padding-top: 2.5rem;
	}

	&:hover {
		// text-decoration: none;
		// background-color: $success;
		// color: $keitaro-white;

		// .service-title,
		// .service-description {
		// 	color: inherit;
		// }
	}

	&:focus {
		text-decoration: none;
		color: lighten($success, 35%);
		background-color: darken($success, 10%);

		.service-title,
		.service-description {
			color: $keitaro-gray-dark;
		}
	}
}

.service-header-wrap {
	flex-grow: 1;
	margin-right: $spacer;
}

.service-title {
	line-height: $headings-line-height;
	font-size: $h3-font-size*0.9;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: $spacer/2;
	color: $primary;
	letter-spacing: $letter-spacing-small;
}

.service-description {
	display: block;
	color: $body-color;

	@supports (hyphens: auto) {
		// Currently not fully-supported in Google Chrome
		text-align: justify;
		hyphens: auto;
	}

	font-size: $font-size-base;
	flex-shrink: 2;
	margin-right: $grid-gutter-width/3;
}

.service-list-item {
	font-size: $h5-font-size + 0.05;
	margin: 0;

	a {
		display: block;
		padding: $grid-gutter-width / 3 0;
		border-bottom: 1px solid $table-border-color;
	}
}