.services {
	margin: 0 $spacer;

	.card {
		margin: $spacer $spacer/2 0;
	}

	.card-body {
		padding-left: $spacer*2;
		padding-right: $spacer*2;
	}
}

.service-icon {
	flex-shrink: 0;
	border-radius: 50%;
	align-self: flex-end;
	overflow: hidden;
	flex-basis: $service-icon-size;
	width: $service-icon-size;
	height: $service-icon-size;
	max-width: $service-icon-size; // Because IE
	background: $keitaro-white;
	margin: $spacer auto;

	.wp-post-image {
		padding: $spacer*1.25;
		object-fit: contain;
	}
}

.service-item {
	transition: .3s background-color;
	background-color: $keitaro-green-gray-l-35;
	justify-content: space-between;

	&:hover {
		text-decoration: none;
		background-color: $success;
		color: $keitaro-white;

		.service-title,
		.service-description {
			color: inherit;
		}
	}

	&:focus {
		text-decoration: none;
		color: lighten($success, 35%);
		background-color: darken($success, 10%);

		.service-title,
		.service-description {
			color: inherit;
		}
	}
}

.service-header-wrap {
	flex-grow: 1;
	flex-basis: 70%;
	margin-right: $spacer;
}

.service-title {
	line-height: $headings-line-height;
	font-size: $h3-font-size*0.9;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: $spacer/2;
	color: $primary;
	letter-spacing: $letter-spacing-small;
}

.service-description {
	display: block;
	color: $body-color;

	@supports (hyphens: auto) {
		// Currently not fully-supported in Google Chrome
		text-align: justify;
		hyphens: auto;
	}

	font-size: $font-size-base;
	flex-shrink: 2;
	margin-right: $grid-gutter-width/3;
}

.service-list-item {
	font-size: $h5-font-size + 0.05;
	margin: 0;

	a {
		display: block;
		padding: $grid-gutter-width / 3 0;
		border-bottom: 1px solid $table-border-color;
	}
}
