.page-template-showcase {

  @include media-breakpoint-down(lg) {
    .wp-block-column {
      margin-left: initial;
      flex-basis: auto !important;
    }
  }

  @include media-breakpoint-up(md) {
    .is-style-feature-group {
      .wp-block-column {
        margin-bottom: $spacer *5;
      }
    }

    .wp-block-column {
      >.wp-block-group {
        z-index: 2;
        margin-top: -$spacer*5;

        .wp-block-group__inner-container {
          padding: $spacer*5;
        }
      }
    }
  }
}