.page-template-single {

  // buttons
  .wp-block-buttons {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .wp-block-button {
      margin: $spacer*2;

      .wp-block-button__link {
        @extend .btn;
        @extend .btn-outline-dark;
      }

      &.is-style-fill {
        .wp-block-button__link {
          @extend .btn-primary;
        }
      }

      &.is-style-outline {
        .wp-block-button__link {
          @extend .btn-outline-primary;
        }
      }
    }
  }

  // heading 

  .has-huge-font-size {
    @extend .text-uppercase;
    color: $keitaro-gray-dark;
    margin-bottom: $spacer*5;

    &:after {
      content: '';
      display: block;
      height: $spacer/4;
      width: $spacer*3;
      margin: $spacer auto;
      background-color: $primary;
    }
  }

  // columns

  .wp-block-columns {
    width: 80%;
    margin: auto;
    padding: $spacer*6 0;
    justify-content: center;
    flex-wrap: wrap;

    .wp-block-column {
      padding: $spacer * 2;
      margin: $spacer;
      background-color: $keitaro-green-gray-l-40;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;


      h1,
      h2,
      h3,
      p {
        color: $keitaro-gray-dark;
      }
    }

    img {
      max-height: 80%;
    }
  }

  // media text block

  .wp-block-media-text {

    align-items: stretch;
    margin-bottom: $spacer*6;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: $box-arrow-width;
      height: $box-arrow-width;
      border-style: solid;
      border-width: $box-arrow-border-width;
      border-color: transparent $primary $primary transparent;
      bottom: -$spacer;
      right: $spacer*5;
    }

    @include media-breakpoint-down(lg) {
      .wp-block-media-text__media {
        box-shadow: none;
      }
    }

    &.has-media-on-the-right {
      margin-right: 0;

      >* {
        padding-right: 0;
      }

      &:after {
        border-color: transparent transparent $primary $primary;
        left: $spacer*5;
        right: auto;
      }

      .wp-block-media-text__content {
        margin-left: $spacer*6;
        margin-right: 0;
      }

      .wp-block-media-text__media {
        &:after {
          left: 0;
          right: $spacer*5;
        }
      }

      .wp-block-image {
        display: block;
      }
    }

    .wp-block-group__inner-container {
      padding-right: 0;
    }

    .wp-block-media-text__content {
      align-self: stretch;
      color: $keitaro-gray-dark;
      font-size: $font-size-lg;
      background-color: $white;
      margin-right: $spacer*6;
      padding-right: 0;
      padding-left: 0;
      min-height: 100%;

      >* {
        padding-left: $spacer*5;
        padding-right: $spacer*5;
      }
    }

    &.is-image-fill {
      .wp-block-media-text__media {
        min-height: $spacer*30;
      }
    }

    .wp-block-media-text__media {
      display: flex;
      flex-direction: column;
      position: relative;

      &:after {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        top: $spacer*13;
        bottom: 0;
        left: $spacer*5;
        right: 0;
        background-color: $white;
      }

      img {
        object-fit: contain;
        height: auto;
        margin-bottom: $spacer*5;
      }
    }

    p {
      &:first-of-type {
        padding-top: $spacer*2;
      }

      margin-bottom: 0;
      padding-bottom: $spacer*2;
      padding-right: $spacer*5;
    }

    .wp-block-image {
      background-color: $keitaro-gray-lightest;
      margin-bottom: $spacer*2;
      padding: $spacer*4 $spacer*5;

      img {
        width: auto;
        max-height: $spacer*5;
      }
    }

    .wp-block-buttons {
      justify-content: initial;
    }
  }


  // list block

  .wp-block-group:nth-child(even) {

    .wp-block-columns {
      width: 90%;
      margin-right: 0;
      background-color: $keitaro-green-gray-l-40;

      // first column(description and title) of the list block
      .wp-block-column:first-child {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          display: block;
          width: $box-arrow-width;
          height: $box-arrow-width;
          border-style: solid;
          border-width: $box-arrow-border-width;
          bottom: -$spacer;
          border-color: transparent transparent $primary $primary;
          left: -$spacer;
          right: auto;
        }
      }

      // second column(list) of the list block
      .wp-block-column:last-child {
        background: linear-gradient(to right, $keitaro-white 85%, transparent 15%);
        display: flex;
        flex-direction: column;
      }

      .wp-block-column {
        padding: 0;
        margin: 0;
        flex-basis: 50%;
        background-color: $keitaro-white;

        .has-huge-font-size {
          background-color: $keitaro-green-gray-l-40;
          padding-bottom: $spacer*2;
          margin-bottom: 0;
        }

        ul {
          background-color: $keitaro-green-dark;
          list-style: none;
          padding: $spacer*3 $spacer;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: $spacer*3.5;

          li {
            color: $keitaro-white;
            font-size: $spacer*1.5;
            padding: $spacer;

            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f00c";
              display: inline-block;
              padding-right: $spacer;
              font-size: $spacer*1.5;
              vertical-align: middle;
              font-weight: 600;
            }
          }
        }

        p {
          color: $keitaro-gray-dark;
          padding: $spacer;
        }
      }

    }
  }

  // last group block
  .wp-block-group:last-child {
    width: 80%;
    margin: auto;

    .has-huge-font-size {
      margin-bottom: $spacer*2;
    }

    p {
      color: $keitaro-gray-dark;
    }
  }

}